
#commandArea {
	float: left;
}

#gameArea {
	float: left;
}

#gameArea #btnRestart {
	float: left;
}

textarea {
	background-color: black;
	color: white;
	font-family: "Courier New", Times, serif;  
   	font-size: 14px;
}